* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* === colors === */
  --primary-color: #f9fafb;
  --primary-bg: #f9fafb;
  --black-color: black;
  /* == bordes == */
  --border-none: none;
  /*== fonts ==*/
  --font-family: Arial, Helvetica, sans-serif;
  --font-size: 1.4rem;
  /* ==background */
  --background-none: none;
  /*== header layout === */
  --header-background-color: #21a99a;
  /* ===== task input ======*/
  --task-input-padding: 0.5rem;
  /* == submit button == */
  --submit-task-padding: 0.8rem;
  --submit-task-radius: 50%;
  --submit-task-background-color: rgba(70, 131, 180, 0.741);
  /* == task item  == */
  --task-item-margin: 0.5rem 1rem 0.5rem 1rem;
  --task-item-padding: 0.5rem 0.4rem 0.4rem 0.4rem;
  --task-item-background-color: #68a6a1;
  --task-item-radius: 20px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100dvh;
  font-family: var(--font-family);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header--design {
  background-color: var(--header-background-color);
  color: var(--primary-color);
  height: 60px;
  padding: 0.4rem;
}

.header__dark-mode-btn,
.header__search-btn,
.header__more-btns {
  border: var(--borders);
  margin-inline: 0.5rem;
  background: var(--background-none);
  color: inherit;
  font-size: var(--font-size);
  cursor: pointer;
}

main,
.virtual-keyboard,
.form-section,
.input-field {
  display: contents;
}

/* Accessibility: visually hidden elements */
.todo__section-title,
.input-field__section-title,
.form-section__hidden-label,
.toolbar__action-btns {
  position: absolute;
  left: -1000px;
}


.form-section__task-input {
  flex-grow: 1;
  border: var(--border-none);
  border-bottom: 1px solid black;
  padding: var(--task-input-padding);
  margin-bottom: 0.4rem;
  font-size: 1.6rem;
  height: 40px;
   overflow-y: auto;
}

.dark-mode .form-section__task-input {
  border-bottom: 1px solid var(--primary-color);
  color: var(--primary-color);
}

/* make the tasks scrollable when their total height is more than 8dvh */
.todo__tasks-holder {
  height: 10dvh;
  overflow-y: auto;
  list-style: none;
}
/* each task */
.task-item {
  background-color: var(--task-item-background-color);
  color: var(--primary-color);
  padding: var(--task-item-padding);
  margin: var(--task-item-margin);
  list-style: var(--task-input-border);
  border-radius: var(--task-item-radius);
}

.no-task-added,
.no-searched-tasks,
.no-completed-tasks {
  background-color: antiquewhite;
  margin: 2rem 2rem 0 2rem;
  list-style: none;
  padding: 0.4rem;
  color: var(--black-color);
  border-radius: 20px;
  text-align: center;
}

.sub-wrapper {
  display: flex;
  gap: 0.4rem;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.4rem;
}

.task-item__timestamp {
  display: flex;
  justify-content: flex-end;
}

.action-buttons,
.action-buttons__check-mark,
.input-field__hide-error,
.form-section__submit-task,
.header__clear-value,
.dropdown-list,
.dropdown-list__header,
.virtual-keyboard__header,
.toolbar {
  display: none;
}

.action-buttons__check-mark,
.wrapper__ellipsis-icon,
.toolbar__count-individual-task,
.toolbar__clear-all-tasks,
.toolbar__count-total-tasks,
.header__back-arrow {
  background: var(--background-none);
  color: inherit;
  border: var(--border-none);
  font-size: var(--font-size);
  cursor: pointer;
}

.toolbar__count-individual-task {
  color: var(--primary-color);
}

.action-buttons__handle-edit,
.action-buttons__handle-delete,
.action-buttons__backarrow,
.action-buttons__handle-copy {
  position: fixed;
  top: 17px;
  background: none;
  color: inherit;
  border: var(--border-none);
  font-size: var(--font-size);
  cursor: pointer;
}

.action-buttons__ellipsis-icon {
  font-size: 1.2em;
}

.action-buttons__handle-copy {
  right: 70px;
}

.action-buttons__handle-edit {
  right: 10px;
}

.action-buttons__handle-delete {
  right: 40px;
}

.action-buttons__backarrow {
  left: 10px;
}

.toolbar {
  position: fixed;
  top: 16px;
}

.toolbar__count-individual-task {
  position: fixed;
  left: 40px;
}

.toolbar__clear-all-tasks {
  position: fixed;
  top: 18px;
  right: 98px;
  color: var(--primary-color);
}

.toolbar__count-total-tasks {
  position: fixed;
  right: 155px;
  color: var(--primary-color);
}

.toolbar--rendering,
.action-buttons__show-check-mark,
.action-buttons--render-toolbar {
  display: block;
}

.task-item--selected {
  background-color: #22bdab94;
}

.task-item--mark-all-tasks {
  background-color: #a1b9b7;
}

.task-item--done {
  text-decoration: line-through;
}

.dark-mode {
  background-color: var(--black-color);
  transition: background 0.5s, color 0.6s;
}

.dark-mode .input-field__show-error {
  color: var(--primary-color);
}

.header__search-mode {
  display: flex;
  column-gap: 0.3rem;
  margin-top: 0.5rem;
}

.header__search-box {
  border: 1px solid var(--black-color);
  background-color: white;
  flex-grow: 1;
  color: black;
  padding: 0.3rem;
  border-radius: 20px;
}

.header__show-clear-value {
  display: block;
  position: fixed;
  right: 20px;
  top: 22px;
  border: var(--border-none);
  background: var(--background-none);
  cursor: pointer;
}

/* show the dropdown list below the ellipsis icon  */
.dropdown-list--render {
  display: block;
  position: absolute;
  background-color: #21a99a;
  top: 58px;
  right: 0;
}

.dropdown-list__all-tasks,
.dropdown-list__completed-tasks,
.dropdown-list__edited-tasks {
  padding: 1rem;
  list-style: none;
  color: var(--primary-color);
}

.dropdown-list__all-tasks:hover,
.dropdown-list__completed-tasks:hover,
.dropdown-list__edited-tasks:hover {
  background-color: rgba(128, 128, 128, 0.514);
  cursor: pointer;
}

.task-item--highlight {
  border: 2px solid red;
}

.task-item--dragging {
  border: 4px solid yellowgreen;
}

/* virtual keyboard style */

.virtual-keyboard__container__row-0,
.virtual-keyboard__container__row-1,
.virtual-keyboard__container__row-2,
.virtual-keyboard__container__row-3,
.virtual-keyboard__container__row-4 {
  display: flex;
  flex-wrap: wrap;
}

.virtual-keyboard__container__row-1 {
  padding: 0 0.3rem 0 0.3rem;
}

.virtual-keyboard__container__row-2 {
  padding: 0 0.4rem 0 0.4rem;
}

.virtual-keyboard__container__regular-buttons,
.virtual-keyboard__container__delete-key,
.virtual-keyboard__container__arrow-key,
.virtual-keyboard__container__english,
.virtual-keyboard__container__persian,
.virtual-keyboard__container__space-button,
.virtual-keyboard__container__submit-button,
.virtual-keyboard__container__symbol-switcher,
.virtual-keyboard__container__reverse-switcher {
  flex-grow: 1;
  border: var(--border-none);
  padding: 0.5rem;
  margin: 0.2rem;
  border-radius: 5px;
  font-size: 1rem;
  background: var(--background-none);
  background-color: grey;
  color: var(--primary-color);
}

.virtual-keyboard__container__regular-buttons:hover,
.virtual-keyboard__container__delete-key:hover,
.virtual-keyboard__container__arrow-key:hover,
.virtual-keyboard__container__english:hover,
.virtual-keyboard__container__persian:hover,
.virtual-keyboard__container__space-button:hover,
.virtual-keyboard__container__submit-button:hover,
.virtual-keyboard__container__symbol-switcher:hover,
.virtual-keyboard__container__reverse-switcher:hover {
  background-color: rgba(128, 128, 128, 0.822);
}

.virtual-keyboard__container__english,
.virtual-keyboard__container__persian {
  flex-grow: 2;
}

.input-field__show-error {
  display: block;
  color: red;
  font-size: 1.5rem;
}

@media (min-width: 1281px) {
  .virtual-keyboard__container {
    display: block;
  }
}

@media (min-width: 1300px) {
  .form-section__submit-task {
    display: block;
    border: var(--borders);
    position: absolute;
    right: 20px;
    bottom: 84px;
    padding: var(--submit-task-padding);
    border-radius: var(--submit-task-radius);
    background-color: var(--submit-task-background-color);
    color: var(--primary-color);
    cursor: pointer;
  }
  .virtual-keyboard__container {
    display: none;
  }
}

/* == height == */

@media (min-height: 401px) {
  .todo__tasks-holder {
    height: 27dvh;
  }
}

@media (min-height: 601px) {
  .todo__tasks-holder {
    height: 40dvh;
  }
  .virtual-keyboard__container__arrow-key,
  .virtual-keyboard__container__delete-key,
  .virtual-keyboard__container__english,
  .virtual-keyboard__container__persian,
  .virtual-keyboard__container__regular-buttons {
    font-size: 1.2rem;
  }
  .action-buttons__backarrow,
  .action-buttons__handle-copy,
  .action-buttons__handle-delete,
  .action-buttons__handle-edit,
  .toolbar__clear-all-tasks,
  .toolbar__count-individual-task,
  .toolbar__count-total-tasks {
    top: 14px;
    font-size: 1.8rem;
  }
  .toolbar__count-individual-task {
    left: 50px;
  }
  .toolbar__clear-all-tasks {
    right: 120px;
  }
  .action-buttons__handle-copy {
    right: 85px;
  }
  .action-buttons__handle-delete {
    right: 50px;
  }
  .toolbar__count-total-tasks {
    right: 180px;
  }
  .header__back-arrow {
    font-size: 1.7rem;
  }
  .header__search-box {
    font-size: 1rem;
  }
  .task-item {
    font-size: 1.5rem;
  }
  .dropdown-list__all-tasks,
  .dropdown-list__completed-tasks,
  .dropdown-list__edited-tasks {
    font-size: 1.3rem;
  }
  .no-completed-tasks,
  .no-searched-tasks,
  .no-task-added {
    font-size: 1.4rem;
  }
  .wrapper__is-completed {
    width: 15px;
  }
}

@media (min-height: 800px) {
  .todo__tasks-holder {
    height: 50dvh;
  }
  .virtual-keyboard__container__arrow-key,
  .virtual-keyboard__container__delete-key,
  .virtual-keyboard__container__english,
  .virtual-keyboard__container__persian,
  .virtual-keyboard__container__regular-buttons,
  .virtual-keyboard__container__space-button {
    font-size: 1.5rem;
  }
  .task-item {
    font-size: 1.7rem;
  }
  .wrapper__is-completed {
    width: 16px;
  }
  .header {
    font-size: 1.3rem;
  }
  .header__search-btn,
  .header__dark-mode-btn,
  .header__more-btns {
    font-size: 2rem;
  }
}
